<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Youtube-Clone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94989CFA1DA9BEE9004AE917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94989D0E1DA9BEED004AE917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94989D191DA9BEEE004AE917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
